/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('./../assets/BannerBG.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, #7A92CB -5.91%, #987182 111.58%);
    border: 1px solid #edf6f980;
    font-size: 25px;
    margin-bottom: 16px;
    display: flex;
    color: white;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    text-align:left;
}

.banner p {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    text-align:left;
}
  
.banner img {
    animation: updown 3s linear infinite;
}
  
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
  }
  