.contact {
    margin-top: 0;
    padding: 90px 0 100px 0;
    background:linear-gradient(0deg, #1918254d, #865dff4d), url('./../assets/LA-unsplash.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  padding: 25px 0px 0px 0px;
}

.contact p {
  color: #351E29;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  padding: 50px 50px 50px 50px;
}

.rectangle {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}

.rectangle::before {
  content: "";
  background: linear-gradient(90.21deg, #7A92CB -5.91%, #987182 111.58%);
  opacity: 0.85;
  position: absolute;
  height: 100%;
  width: 0;
  transition: 0.4s ease-in-out;
}

.rectangle:hover::before {
  width: 100%;
}

.contact img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(-20px);
  }
}
